.Photo-div{
    width: 23%;
    border-radius: 3px;
    text-align: center;
    background: #254764;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    color: white;
    float: left;
    cursor: pointer;
    margin: 1%;
}
.App-img{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-top: 5px;
}
.img-header{
    background-color: rgb(52, 88, 121);
    border-radius: 3px;
    margin-top: 10px;
}
.url-div{
    background: #183246;
    border-radius: 3px;
    width: 96%;
    color: #375570;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}
.title{
    width: 80%;
    font-size: 15px;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
}
.id{
    color: #375570;
}

.box{
    width: 90%;
}